SHOPIFY_APP_SECRET=shpss_sdfsdf9f298d86b7203b5109
SHOPIFY_APP_KEY=45sdfdsf150f3
DB_URL=mongodb://localhost/smartbotv2
DASHBOARD_URL=https://smartbotclient.com
APP_URL=http://localhost:4000
INTERCOM_CLIENT_ID=e743e2sdfb841d8
INTERCOM_CLIENT_SECRET=74473-83af-3dsfd7859d222d4
APP_KEY=3334334343433343df
PORT=4000
FB_CLIENT_ID=43433
FB_CLIENT_SECRET=e56678d010ae29aacb1340
FB_VALIDATION_TOKEN=sudhfhefui3i3kjbehdsjkfbsdf
WIDGET_URL=https://smartbotwidget.com
BOT_API=http://localhost:5005
